@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

main {
  height: calc(100vh - 65px);
  margin-top: 65px;
}

/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header header"
    "body body body body body";
}
.row {
  display: contents;
}
.row .name {
  height: 50px;
  display: flex;
  align-items: center;
}

.radio:checked {
  box-shadow: 0 0 0 4px #70c4bb inset, 0 0 0 4px #70c4bb inset;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover,
input[type="checkbox"]:active,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  cursor: pointer;
  outline: none;
  border-color: #70c4bb;
  /* background-color: #70c4bb; */
  color: #70c4bb;
  --tw-ring-color: #70c4bb;
}

input[type="text"],
select {
  border-width: 1px;
  border-color: #eff1f5;
  color: #263446;
  cursor: pointer;
}
input[type="text"]:focus,
select:focus {
  --tw-ring-color: #70c4bb;
  border-color: #70c4bb;
}
